@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glass__bg {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
