@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s backwards;
}

/* Slide Animations from top */
@keyframes slideIn {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10%);
  }
}

.glass__bg {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.linesvg {
  background-image: url("./assets//line.svg");
  /* background-position: 50% 200%; */
  background-repeat: no-repeat;
  background-size: 20.9375rem;
  /* background-attachment: scroll; */
  /* margin-bottom: -2.5rem; */
  margin-left: -5rem;
  /* margin-right: -5rem; */
  /* padding-bottom: 2.5rem; */
  padding-left: 5rem;
  /* padding-right: 5rem; */
  display: inline-block;
  overflow: visible;
}
